body{
  height: 100%;
  text-align: justify;
}

.background {
  background-color: none;
  background-image: url("techimage.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  z-index: -1;
  opacity: 0.8;
}

li {
 margin: 5px 10px 10px 10px;
 background-color: grey;
 border-radius: 12px;
 background-image: url(techimage.jpg);
}

i {
  font-size: 30px;
}

h1 {
  font-family: "Domine"; font-size: 50px;
  text-align: center;
}

.title, ul {
    text-align: center;
 }

.row {
  align-items: center;
  overflow: auto;
  display: inline-block;
}

.text-center {
  align-items: center;
  overflow: auto;
  display: inline-block;
}

.img-responsive, img {
  max-width: 100%;
  height: auto;
  margin: 0 0 20px 0;
}

#profile_pic, #about_me {
  display: inline-block;
}

#profile_pic {
  border: 2px solid red;
  padding-left: 0px;
  padding-right: 0px;
  border: 5px solid yellow;
}

#about_me {
  border: 2px solid blue;
  text-align: justify;
  font-family: "Domine"; font-size: 18px;
  padding: 0 30px 0 30px;
}

.columns {
  padding-bottom: 50px;
  font-family: "Domine"; font-size: 18px;
  text-align: center;
}
.a_column {
  width: 30%;
  float: left;
  margin-right: 5%;
  text-align: justify;
  padding-top: 30px;
}
.third_column {
  margin: 0;
}


/* Clearfix styling
Used to get rid of any elements that are floating before and after
*/
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

#row_portfolio, #row_technical {
  padding: 0 25px 0 25px;
}

#row_contact {
  border: 2px solid green;
  text-align: center;
}

.navbar {
  background-color: black;
  margin-bottom: 0px;
  height: 60px;
}

@media screen and (max-width: 900px) {
  .a_column {
    width: 47.5%;
  }
  .second_column {
    margin: 0;
  }
  .third_column {
    align-items: center;
    clear: both;
    float: none;
    width: auto;
    padding: 20px 0 0 0;
  }
  @media screen and (max-width: 768px) {
    .img-responsive {
      height: auto;
      width: auto;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 576px) {
    .mobile-collapse {
      width: auto;
      float: none;
      margin-right: 0;
    }
  }
}
